<nav class="navbar navbar-light">
  <span class="ml-auto profile">Jeroen</span>
</nav>
<div [ngSwitch]='queueStatus'>
  <div *ngSwitchCase="'loading'">
    Loading...
  </div>
  <div *ngSwitchCase="'active'">
    <div class="container-fluid">
      <div class="row graph-row">
        <div *ngFor="let queue of queues" class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Queue - {{queue.name}} </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
