.navbar {
	min-height: 4rem;
	background-color: #C72548;
}

.profile {
	color: white;
	margin-right: 100px;
}

.graph-row {
	margin: 25px;
}

.card {
	margin: 25px 10px;
	background-color: #EFF4F5;
}

.card-title {
	text-align: right;
}

.card-text {
	padding: 80px;
}